body {
  min-height: 600px;
  min-width: 1000px;
  max-height: 600px;
  max-width: 1000px;
  margin-top: 5%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2.5%;
  display: grid;
  border: 1px;
  background-color: #0D1282;
  border-color: #EEEDED;
  border-style: groove;
  grid-template-columns: 1fr 300px 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 1;
}

.headerImg{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#gameHighScoreSection{
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

#highScoresText{
  width: 45%;
  height: 75%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  color: white;
  font-size: xx-large;
}

#highScoresBtn{
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEDED;
  font-size: x-large;
}

#gameDifficultySection{
  width: 50%;
  height: 50%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
}

.gameDifficultyButton{
  width: 60%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEDED;
  font-size: x-large;
}

#gameOverHeader{
  width: 40%;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gameOverHeaderLabel{
  width: 60%;
  height: 100%;
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  font-size: x-large;
  display: flex;
  justify-content: center;
  color: white;
  font-size: xx-large;
}

#gameOverInput{
  width: 40%;
  padding-top: 2%;
  padding-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#closeGameOverBtn{
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  background-color: #EEEDED;
  font-size: x-large;
  display: flex;
  justify-content: center;
}

#formItems{
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formText{
  font-size: x-large;
  display: flex;
  justify-content: center;
  color: white;
  font-size: xx-large;
}

#titleSection{
  grid-column: 2;
  grid-row: 1;
  padding-top: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#playBtn{
  grid-column: 1/4;
  grid-row: 2;
}

#hiscoresBtn{
  grid-column: 1/4;
  grid-row: 3;
}

#settingsBtn{
  grid-column: 1/4;
  grid-row: 4;
}

.menuButton{
  margin-top: 5%;
  margin-right: 30%;
  margin-left: 30%;
  background-color: #EEEDED;
  font-size: x-large;
}

#nextPieceSection{
  grid-column: 1;
  grid-row: 1/3;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#nextPieceHeader{
  width: 90%;
  height: 15%;
  margin-top: 10%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

#nextPieceArea{
  width: 100%;
  height: 50%;  
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

#mainCenterSection{
  grid-column: 2;
  grid-row: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#scoreSection{
  grid-column: 3;
  grid-row: 1;
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#instructionsSection{
  grid-column: 3;
  grid-row: 2/5;
  margin-top: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#instructionsHeader{
  width: 90%;
  height: 15%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

#instructionsText{
  width: 80%;
  height: 75%;
  padding-top: 5%;
  padding-left: 3%;
  padding-right: 3%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  border-style: groove;
  display: flex;
  flex-wrap: wrap;
  font-size: medium;
}

#optionsSection{
  grid-column: 3;
  grid-row: 5;
  margin-top: 10%;
  margin-bottom: 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}   

.optionsButton{
  width: 25%;
  background-color: #EEEDED;
  font-size: large;
}

#playArea{
  height: 600px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.label{
  width: 90%;
  height: 40%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  border-style: groove;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.subLabel{
  width: 60%;
  height: 40%;
  border: 1px;
  background-color: #EEEDED;
  border-color: #D71313;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.hide {
  visibility: collapse;
}

.show {
  visibility: visible;
}
