body {
  height: 80vh;
  margin-top: 5%;
  margin-right: 5%;
  margin-left: 5%;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

#titleSection{
  grid-column: 2;
  grid-row: 1;
}

#startGameBtn{
  grid-column: 2;
  grid-row: 2;
}

#hiscoresBtn{
  grid-column: 2;
  grid-row: 3;
}

#settingsBtn{
  grid-column: 2;
  grid-row: 4;
}

#mainLeftSection{
  background-color: pink;
  grid-column: 1;
  grid-row: 1/6;
}

#mainCenterSection{
  background-color: darkcyan;
  grid-column: 2;
  grid-row: 1/6;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mainRightSection{
  background-color: darkred;
  grid-column: 3;
  grid-row: 1/6;
}

#playArea{
  background-color: hotpink;
  height: 600px;
  width: 300px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);
}

.hide {
  visibility: collapse;
}

.show {
  visibility: visible;
}
